  <div class="container-fluid about">
    <div class="row">

      <div class="col-md-6 p1">
        <div class="container-fluid">
          <h2>Our Story</h2>
          <p>Suspendisse laoreet augue nec ipsum laoreet elementum. Maecenas rhoncus faucibus lorem, interdum convallis ex sagittis et. In hac habitasse platea dictumst. Nam semper nulla sit amet vestibulum interdum. Nam bibendum vel nisi ac ultrices. Maecenas
            sit amet leo eu lorem lacinia pellentesque. Vivamus sit amet erat consequat, tincidunt ex et, commodo ligula. Nullam maximus laoreet sapien, non tristique est fringilla vel. Nunc sit amet enim faucibus, interdum neque nec, imperdiet est. Donec
            sapien felis, rutrum nec varius quis, vulputate semper nulla. Mauris feugiat porta nisl non efficitur. Ut ullamcorper, orci ut congue hendrerit, elit quam tristique lorem, nec lobortis libero arcu ac nunc. Ut venenatis nec metus ut aliquet.
            Aliquam ut ante mauris.</p>
        </div>
      </div>

      <div class="col-md-6 p2">
        <div class="container-fluid">
          <h2>Our Services</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat gravida sem, at egestas mauris facilisis nec. Donec nulla nisi, imperdiet ac pharetra laoreet, laoreet dapibus tellus. Mauris vulputate diam sit amet tortor condimentum
            tempor. Duis eu nunc vel lacus imperdiet viverra sed vel tellus. Sed nec massa nunc. Duis rhoncus vitae est a placerat. Cras nibh sem, efficitur sed semper id, rutrum sit amet dolor. Aenean luctus massa ligula, quis interdum velit rhoncus
            at. Donec turpis elit, porta ac neque vitae, varius vestibulum augue.</p>
        </div>
      </div>
    </div>

  <div class="container-fluid">
    <div class="subscribe">
      <h3>Get new houses for rent on your provided Email</h3>
      <form>
        <input type="email" placeholder="Enter Email here">
        <button type="submit" class="button1">Subscribe</button>
      </form>
    </div>
  </div>

<div class="container-fluid">
  <div class="footer">
    <p><span id="outer">@2017/2018 NiloTech</span></p>
  </div>
</div>
  
 </div>

