<header>
<div class="jumbotron">
<div class="row">

<div class="col-md-9">
<h1><span class="header1">Welcome to Blog ||</span>post</h1>
</div>

<div class="col-md-3">
<div class="nav navbar-nav">
     <li class="dropdown-menu">
         {{#link-to 'contact'}}Contact Us{{/link-to}}
         {{#link-to 'about'}}About As{{/link-to}}
      </li>
</div>
</div>

</div>
</div>
</header>

<body>

{{outlet}}

</body>