<header>
<div class="jumbotron">
<h1><span class="header1">Welcome to Blog ||</span>post</h1>
</div>
</header>

<div class="nav navbar-nav">
     <li class="dropdown-menu">
         {{#link-to 'contact'}}Contact Us{{/link-to}}
         {{#link-to 'about'}}About As{{/link-to}}
      </li>
</div>

<body>
{{outlet}}
</body>