<h1> Welcome to Blog Post </h1>

We hope you find exactly what you're looking for:-

<ul>
  {{#each blog as |blog|}}
     <li>{{blog.owner}}'s {{blog.category}} in {{blog.image}}</li>
  {{/each}}
</ul>